@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
* {
    font-family: "Pretendard",serif;
}
body{
    background-color: #44398A;
}
.wrap{
    width: 300px;
    margin: 30px auto 0px auto;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user, .links{
    width: 300px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.profile{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid white;
    background-image: url('ryan.jpg');
    background-position: center;
    background-size: cover;
}

.userName{
    color: white;
    font-size: 32px;
}

.description{
    color: white;
    font-size: 20px;
    margin: 0;
}

.links > a{
    width: 300px;
    height: 50px;
    background-color: white;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    color: #44398A;
    box-shadow: 3px 3px 5px 0px black;
 
}

.links > a:hover{
    background-color: #f2f2f2;
}